body{
  font-family: sans-serif;
}

header{
  background-color: greenyellow;
}

nav{
  background-color: green;
  height: 25px;
  margin: 25px;
}

aside{
  background-color: orange;
  width: 20%;
  height: 450px;
  display: inline-block;
  vertical-align:top;
}

main{
  background-color: red;
  width: 59%;
  height: 450px;
  display: inline-block;
  vertical-align: top;
}

section{
  background-color: red;
}

article{
  background-color: honeydew;
  box-sizing: border-box;
  margin: 15px;
  height: 40px;
}

footer{
  background-color:orchid;
}